<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>

  <!--  CUSTOM CSS -->
  <link rel="stylesheet" href="css/style.css" />

  <!--  FONTAWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />

  <!--  GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />

  <!--  calendar -->
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.10.1/main.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
</head>

<body>

  <!--  NAVEGACION -->
  <nav class="navi">
    <div class="logo">
      <i class="fas fa-house-user"></i>
    </div>

    <div class="search">
      <input type="search" name="" id="search" />
      <label for="search"><i class="fas fa-search"></i></label>
    </div>

    <div class="user-inf">
       
      <ul>
        <img src=" " alt="">
        <h5></h5>
        <h6></h6>
      </ul>
    </div>
  </nav>
  <main class="cuerpo">