<nav class="navegacion">
      <ul>
        <li><a href="http://localhost/proyecto/dashboard"><i class="fas fa-home"></i></a></li>
        <li><a href="http://localhost/proyecto/dashboard/personal.php"><i class="fas fa-users"></i></a></li>
        <li><a href=""><i class="fas fa-archive"></i></a></li>
        <li><a href=""><i class="fas fa-chart-pie"></i></a></li>
        <li><a href=""><i class="fas fa-cloud"></i></a></li>
        <li><a href=""><i class="fas fa-cash-register"></i></a></li>
        <li><a href=""><i class="fas fa-cart-plus"></i></a></li>
        <li><a href=""><i class="fas fa-bell"></i></a></li>
        <li><a href=""><i class="fas fa-comments"></i></a></li>
        <li></li>
      </ul>
  </nav>