<!-- LATERAL -->
<aside class="lateral">
  <article>
    <h4>calendario</h4>
    <div class="calendar" id="calendar"></div>
  </article>
  <article>
    <h4>comunicacion</h4>
    <div class="chat" id="chat">
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
    </div>
    <form action="" method="post">
      <input type="text" name="" id="" /><input type="submit" value="enviar" />
    </form>
  </article>
</aside>
